@import "../../../styles/common/_base.scss";

.map-container {
  top: 100px;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.input-container {
  position: absolute;
  top: 130px;
  
  .input-group {
    background: $navy-purple;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    width: 18rem;
    left: 50px;
    z-index: 9999;

    input {
      background: transparent;
      border: none;
      color: $white;
      width: 80%;

      &:focus {
        outline: none
      }
    }
  }

  .search-button {
    color: $white;
    border-color: rgba(155, 155, 155, .5)
  }
}

.ubs-list-container {
  display: block;
  z-index: 999;
  width: 18rem;
  position: fixed !important;
  height: calc(100vh - 160px);
  top: 130px;
  left: 50px;
  overflow: auto;
}

/* Marker */
.marker-item {
  width: 50px;
  height: 50px;
  background: $navy-purple;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: auto;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;

  .index-number {
    position: absolute;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 77%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-top-color: #282B39;
    border-bottom: 0;
    margin-left: -26px;
    margin-bottom: -8px;
  }

  .hospital-info {
    opacity: 0;
    background: $white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 300px;
    top: -95px;
    left: 125px;
    transition: all .5s;
    border: solid 2px $turquoise;
    border-radius: 8px;
    z-index: -1;
    display: none;

    &:before {
      border-left: 23px solid transparent;
      border-top: 23px solid #a7a7a7;
      bottom: -26px;
      content: "";
      position: absolute;
      left: 10px;
      border: 13px solid transparent;
      border-top-color: $white;
      z-index: 999;
    }

    &:after {
      border-left: 23px solid transparent;
      border-top: 23px solid #a7a7a7;
      bottom: -31px;
      content: "";
      position: absolute;
      left: 8px;
      border: 15px solid transparent;
      border-top-color: $turquoise;
    }

    h2 {
      color: $turquoise;
      font-weight: 600;
      font-size: 16px;
    }

    p {
      color: $navy-purple;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &:hover {
    background: $turquoise;

    &:after {
      border-top-color: $turquoise;
    }

    .hospital-info {
      opacity: 1;
      transition: all .5s;
      z-index: 999;
      display: block;
    }
  }
}