@import "../../styles/common/_base.scss";

/* Navbar/Header */
.navbar {
  padding: 20px 0;
  background: $turquoise;
}

.header-item {
  display: flex;
  width: 30%;

  &:last-of-type {
    justify-content: flex-end;
  }

  .search-box {
    margin-left: 100px;

    .input-group {
      margin-bottom: 0;
    }

    .search-button {
      color: $white;
      background: $navy-turquoise;
      border: none;

      svg {
        margin-bottom: 2px
      }
    }
  }
}

.logo-box {
  justify-content: center;

  img {
    width: 150px;
  }
}

/* Position and sizing of burger button */
.bm {
  &-burger {
    &-button {
      position: relative;
      width: 36px;
      height: 30px;
      left: 50px;
      top: 5px;
    }

    &-bars {
      background: $white;
      height: 12% !important;

      &-hover {
        background: $navy-turquoise;
      }
    }
  }

  &-cross {
    background: #bdc3c7;

    &-button {
      height: 24px;
      width: 24px;
    }
  }

  &-menu {
    background: $navy-turquoise;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;

    &-wrap {
      position: fixed;
      height: 100%;
      top: 0;
      z-index: 99999 !important;
    }
  }

  &-morph-shape {
    fill: #373a47;
  }

  &-item {
    display: inline-block;

    &-list {
      color: #b8b7ad;
      padding: 0.8em;

      a {
        color: $white;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
  }
}

/* User Infos */
.user-area-container {
  display: flex;
}

.dropdown {
  &:last-of-type {
    margin: 0 50px 0 30px;
    padding-left: 40px;
    border-left: solid 1px $white;

    button {
      font-size: 30px;
      padding: 0;

      &:after {
        display: none;
      }

      .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        border-radius: 50px;
        width: 60px;
        height: 60px;

        svg {
          color: $navy-turquoise;
        }
      }
    }
  }

  button {
    background: transparent !important;
    border: none;
    display: flex;
    align-items: flex-start;

    &:after {
      margin: 10px 0 0 10px;
    }

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      outline: none;
      box-shadow: none !important;
      border-color: transparent !important;
    }

    span {
      width: 200px;
    }

    p {
      color: $navy-turquoise;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .user-info-box {
    width: 100%;
  }
}
